.pagination {
  text-align: center;
  padding-bottom: 1em;
}

.pagination li {
  display: inline-block;
  margin: 0em 0.2em;
}

.pagination button {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination button.active {
  background-color: var(--button-background);
  color: white;
  border-radius: 5px;
}

.pagination button:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}
